* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-perspective: 10px;
          perspective: 10px;
  position: relative;
  scroll-behavior: smooth;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.top-banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.25rem 1rem;
  background-color: #000;
  height: 2rem;
}

.top-banner .commonwealth-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.top-banner .commonwealth-title img {
  height: 1rem;
  width: 1rem;
}

.top-banner p {
  color: #fff;
}

.top-banner .top-banner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  list-style: none;
  height: 100%;
}

.top-banner .top-banner-links .top-banner-link {
  color: gray;
}

.container {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2rem;
}

.nav-bar {
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-bar.solid {
  background: #fff;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav-bar.solid .website-title a {
  color: #515151;
}

.nav-bar.solid .nav-links a {
  color: #515151;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.nav-bar.solid .nav-links a.active {
  background-color: #515151;
  color: #fff;
}

.nav-bar.solid .mobile-menu-btn .top-line, .nav-bar.solid .mobile-menu-btn .middle-line, .nav-bar.solid .mobile-menu-btn .bottom-line {
  background-color: #000;
}

.nav-bar .website-title a {
  text-decoration: none;
  color: #fff;
}

.nav-bar .nav-links {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: #a4a4a4;
  font-size: 1.2rem;
}

.nav-bar .nav-links a.active {
  color: #fff;
}

.nav-bar .nav-links .other-links {
  display: none;
}

.nav-bar .mobile-menu-btn {
  width: 2.25rem;
  height: 2.25rem;
  position: relative;
  cursor: pointer;
  display: none;
}

.nav-bar .mobile-menu-btn .top-line,
.nav-bar .mobile-menu-btn .middle-line,
.nav-bar .mobile-menu-btn .bottom-line {
  width: 100%;
  height: 2.5px;
  position: absolute;
  background-color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-bar .mobile-menu-btn .top-line {
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
}

.nav-bar .mobile-menu-btn .middle-line {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav-bar .mobile-menu-btn .bottom-line {
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -75%);
          transform: translate(-50%, -75%);
}

.nav-bar .mobile-menu-btn.active .top-line {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.nav-bar .mobile-menu-btn.active .middle-line {
  opacity: 0;
}

.nav-bar .mobile-menu-btn.active .bottom-line {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: -1;
}

header .background {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  -webkit-transform: translateZ(-10px) scale(2.02);
          transform: translateZ(-10px) scale(2.02);
}

header .foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 0;
  -webkit-transform: translateZ(-10px) scale(2.02);
          transform: translateZ(-10px) scale(2.02);
  background: rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 3rem;
  text-align: center;
  color: #fff;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

section {
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  scroll-margin-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section:first-of-type {
  -webkit-box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.3);
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

#about .container {
  padding: 5rem 2rem 2rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#services .cards-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#services .cards-wrapper .card {
  width: 25%;
  height: 20rem;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

#services .cards-wrapper .card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#services .cards-wrapper .card .photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  .top-banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-banner .top-banner-links {
    display: none;
  }
  .nav-links {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    gap: 1rem;
    width: 100%;
    min-width: 300px;
    height: calc(100vh - 2rem);
    top: 2rem;
    right: 0;
    background-color: #fff;
    z-index: 9;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    padding-top: 5rem;
    -webkit-box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.5);
    visibility: hidden;
  }
  .nav-links li {
    width: 100%;
  }
  .nav-links a.nav-link {
    color: #515151 !important;
    display: block !important;
    width: 100% !important;
    text-align: right !important;
    padding: 0.5rem 2rem 0.5rem;
  }
  .nav-links a.nav-link.active {
    color: #fff !important;
    background-color: #515151;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }
  .nav-links.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    visibility: visible;
  }
  .nav-links .other-links {
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .nav-links .other-links a {
    color: #515151 !important;
  }
  .nav-bar .mobile-menu-btn {
    position: absolute;
    top: 50%;
    right: 2rem;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
  }
  .nav-bar .mobile-menu-btn.active .top-line,
  .nav-bar .mobile-menu-btn.active .middle-line,
  .nav-bar .mobile-menu-btn.active .bottom-line {
    background-color: #000;
  }
}
/*# sourceMappingURL=styles.css.map */